<div class="container">
  <div class="col-md-8 offset-2">
    <%= form_with(model: question, local: true) do |form| %>
    <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
        <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <strong><%= form.label :title %></strong>
      <%= form.text_area :title, id: :question_title, class: "form-control" %>
    </div>
    

    <div class="form-group">
      <strong><%= form.label :answer %></strong>
      <%= form.text_area :answer, id: :question_answer, class: "form-control ckeditor" %>
    </div>

    <div class="form-group">
      <%= form.submit %>
    </div>
    <% end %>
  </div>    
</div>